<!doctype html>
<html>
    <head>
        <title>Console</title>
        <link href="/jquery.terminal/css/jquery.terminal-0.9.3.css" rel="stylesheet"/>
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/jquery.terminal/js/jquery.terminal-0.9.3.min.js"></script>
        <script src="/jquery.terminal/js/jquery.mousewheel-min.js"></script>
        <script src="/javascripts/console.js"></script>

    </head>
    <body>

    </body>
    <style type="text/css">
        body.terminal {
            font-family: "Courier";
        }
    </style>
</html>



