<!DOCTYPE html>
<html>
<head>
    <title>图片浏览</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div style="width: 100%">
    <a href="<%= prev_path %>">..</a>
    <% files.forEach(function(f){ %>
    <a href="<%= path + '/' + f %>" style="width:100%;float: left"><%= f %></a>
    <% }); %>
</div>
</body>
</html>

